<!DOCTYPE html>
<html lang="en-us" ng-app="myApp">
    <head>
        <title>Mini-CRM</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <!-- load bootstrap and fontawesome via CDN -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        
        
        <!-- load angular via CDN -->
        <script src="//code.angularjs.org/1.3.0-rc.1/angular.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body>


        <div class="container">

            <div ng-controller="mainController">
            
                <h1 ng-repeat="person in names">Hello {{person}}!</h1>
                
                <input type="text" ng-model="handle"/>
                
                <button type="submit" ng-click="pushToNames()">push</button>
                
                
                <h1>{{handle}}</h1>
                
                <div ng-repeat="candidate in candidates">
                    <h1>{{candidate.name}}</h1>
                    <h1>{{candidate.job}}</h1>
                
                </div>
                
                
            </div>
            
		</div>

    </body>
</html>