<!DOCTYPE html>
<html lang="en-us" ng-app="myApp">
    <head>
        <title>Mini-CRM</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <!-- load bootstrap and fontawesome via CDN -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        
        
        <!-- load angular via CDN -->
        <script src="//code.angularjs.org/1.3.0-rc.1/angular.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body>


        <div class="container">

            <div ng-controller="mainController">
            
                <h1 ng-repeat="person in names">Hello {{person}}!</h1>
                
                <input type="text" ng-model="handle"/>
                
                <button type="button" ng-click="pushToNames()">push</button>
                
                
                <h1>{{handle}}</h1>

                <h1> All the candidates</h1>

                
                  <form name="myForm">
                    <label for="mySelect">Make a choice:</label>
                    <select name="mySelect" id="mySelect"
                      ng-options="candidate.name for candidate in candidates track by candidate._id"
                      ng-model="selectedCandidate"></select>
                  </form>
                  <hr>
                  <h1>{{selectedCandidate.name}}  {{selectedCandidate.job}}</h1>
                
                 <button ng-click="delete()">Delete</button>


                <div ng-repeat="candidate in candidates">
                  <ul>
                    <li>{{candidate.name}}  {{candidate.job}}</li>             
                  </ul>
                </div>

                <input type="text" ng-model="name">Add Name</input>
              </br>
                <input type="text" ng-model="job">Add Job</input>
                <button ng-click="addCandidate()">post candidate</button>

                
                
                
            </div>
            
		</div>

    </body>
</html>